:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-color: black;
    text-align: center;
}
main{
    margin: 1em;
}
p,
h1,
h2,
pre {
    text-align: left;
}
img {
    filter: invert(100%);
    text-align: center;
}
