* {
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    font-family: Helvetica;
    font-size: 1.75rem;
}
// Box Elements ====================================================================================
body {
    height: 100dvh;
    //border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: rgb(0 0 255);
}
main {
    height: 100%;
    width: 100%;
    background-color: white;
}
nav,
footer {
    background-color: black;
    color: white;
}
header {
    background-color: rgb(0 30 30);
    color: white;
}

// Text Elements ====================================================================================
a {
    mix-blend-mode: difference;
    color: white;
}
a::after {
    content: "⇱";
    display: inline-block;
    align-items: baseline;
    color: white;
    mix-blend-mode: difference;
}
